body {
    background: #EEEEEE;
    margin: 0px;
}

.half-background {
    z-index: -1;
    background: #d1d1d1;
    width: 100%;
    height: 372px;
    position: absolute;
    top: 50px;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 372px;
    height: 372px;
    margin-top: -186px; /* Half the height */
    margin-left: -186px; /* Half the width */
    border-radius: 10px;
}

.wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.container {
    padding: 3rem;
    width: 60%;
    margin-top: 376px;
}

input[type="search"] {
    -webkit-appearance: none !important;
    background-clip: padding-box;
    background-color: white;
    vertical-align: middle;
    border-radius: 0.25rem;
    border: 1px solid #e0e0e5;
    font-size: 1rem;
    width: 100%;
    line-height: 2;
    padding: 0.375rem 1.25rem;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

input[type="search"]:focus {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 0 0 40px #4de5cc;
    border-color: #4de5cc;
    outline: none;
}

form.search-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

label {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    margin-bottom: 0;
}

input.search-field {
    margin-bottom: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    height: 51px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input.search-submit {
    margin: 0;
    padding: 1rem 1.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.button {
    display: inline-block;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.15;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background: #75f3b0;
    color: #292826;
    border: 1px solid transparent;
    vertical-align: middle;
    text-shadow: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.button:hover,
.button:active,
.button:focus {
    cursor: pointer;
    background: #75f3b0;
    color: #292826;
    outline: 0;
}


.logo {
    margin: 0;
    font-size: 1.45em;
    float: left;
}

.main-nav {
    margin-top: 5px;

}
.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    margin-top: 1px;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #fbfbfb;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    height: 30px;
}

#ham-menu {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 20px;
}

.footer {
    background: #d1d1d1;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 00px;
    text-align: center;
}

#csun-icon-header {
    height: 32px;
    width: 32px;
    position: relative;
    margin: 0;
}

.footer-icons {
    display: inline-block;
    margin: 20px;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: #000;
}

#about-home {
    background-color: #eeeeee;
    border-radius: 20px;
    height: 100px;
    margin: 70px auto 0px;
    text-align: center;
}

#about-home-text {
    position: absolute;
    font-family: monospace;
}

#powered-by {
    width: 175px;
    height: 175px;
    position: relative;
    float: left;
}

#trending {
    width: 100%;
    height: 100%;
    border-collapse: unset;
    box-shadow: 0 0 20px #4de5cc;
    border: solid 1px black;
    border-radius:6px;
    -moz-border-radius:6px;
    background: white;
}
td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}
th {
    border-top: none;
    height: 28px;
}

td:first-child, th:first-child {
    border-left: none;
}

#gmDropdown {
    margin-right: -38px;
    margin-top: 38px;
}

.dropdown-content {
    display: none;
    list-style-type: none;
    float: right;
    padding: 0;
}
.dropdown-content a {
    color: black;
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.ham-menu-item {
    background: white;
    border: 1px solid black;
}

.show {display:block;}
